<h1>Ask a Question</h1>

  <%= form_for @question, url: {action: "create"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit "Ask Question" %>
  <% end %>
