<% if flash.any? %>
  <% flash.each do |notice| %>
    <%= notice[1] %>
  <% end %>
<% end %>

<h2><%= @question.title %></h1>
  <p>Asked by <%= @question.user.username %></p>
  <p>Asked at <%= @question.created_at %>
  <p><%= @question.body %></p>
  <%= link_to 'Edit', edit_question_path(@question.id) %>

<h4>Answers</h4>
<% if @question.answers.length != 0 %>
  <% @question.answers.each do |answer| %>
    <p><%= answer.user.username %> responded: <p>
    <h4><%= answer.title %></h4>
    <p><%= answer.body %><p>
    <br>
  <% end %>
<% else %>
  <p>This question does not yet have any answers<p>
<% end %>

<p><%= link_to "Submit an Answer", new_question_answer_path(params[:id]) %></p>
<p><%= link_to "Home", questions_path %></p>
